img {
	max-width: 100% !important;
}

.bg-gray {
	background-color: #F5F8FF;
}

.body-wrapper {
	color: #5B6880;
	background-color: #ffffff;
	font-family: 'Rubik', sans-serif;
}

.container {
	padding: 0 !important;
}

.template-inner {
	border-top: 3px solid #f9556d;
}

.header {
	z-index: 999;
	padding-top: 15px;
	padding-bottom: 15px;
	background: #fff;
	-webkit-box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
	box-shadow: 0px 4px 6px 0px rgba(12, 0, 46, 0.06);
}

.logo-holder {
	width: 100%;
	padding: 15px 30px;
	text-align: center;
}

.logo-holder img {
	max-height: 40px;
}

.navigation {
	display: none;
}

.navigation ul {
	display: block;
	margin: 0;
	padding: 15px;
	list-style: none;
	float: right;
}

.navigation ul li {
	float: left;
}

.navigation ul li a {
	display: block;
	padding: 10px 20px;
	color: #01358D;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-decoration: none !important;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

.navigation ul li a:hover {
	color: #f9556d;
}

.gallery {
	padding: 15px;
}

.title {
	color: #01358D;
	padding: 15px 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: 0.75px;
	font-family: 'Poppins', sans-serif;
}

.big-image-holder {
	padding: 15px 0;
}

.big-image-single {
	display: none;
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	padding: 30px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 8px;
	-webkit-box-shadow: 0px 12px 20px #01358D57;
	box-shadow: 0px 12px 20px #01358D57;
}

.small-image-holder {
	padding: 15px 0;
}

.small-image-container {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}

.small-image-container label {
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	padding: 10px;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 8px;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	-webkit-box-shadow: 0px 3px 14px #666c752e;
	box-shadow: 0px 3px 14px #666c752e;
}

#gallery_01:checked~.big-image-holder #gallery_big_01,
#gallery_02:checked~.big-image-holder #gallery_big_02,
#gallery_03:checked~.big-image-holder #gallery_big_03,
#gallery_04:checked~.big-image-holder #gallery_big_04,
#gallery_05:checked~.big-image-holder #gallery_big_05,
#gallery_06:checked~.big-image-holder #gallery_big_06,
#gallery_07:checked~.big-image-holder #gallery_big_07,
#gallery_08:checked~.big-image-holder #gallery_big_08,
#gallery_09:checked~.big-image-holder #gallery_big_09,
#gallery_10:checked~.big-image-holder #gallery_big_10,
#gallery_11:checked~.big-image-holder #gallery_big_11,
#gallery_12:checked~.big-image-holder #gallery_big_12 {
	display: block;
}

#gallery_01:checked~.small-image-holder label[for=gallery_01],
#gallery_02:checked~.small-image-holder label[for=gallery_02],
#gallery_03:checked~.small-image-holder label[for=gallery_03],
#gallery_04:checked~.small-image-holder label[for=gallery_04],
#gallery_05:checked~.small-image-holder label[for=gallery_05],
#gallery_06:checked~.small-image-holder label[for=gallery_06],
#gallery_07:checked~.small-image-holder label[for=gallery_07],
#gallery_08:checked~.small-image-holder label[for=gallery_08],
#gallery_09:checked~.small-image-holder label[for=gallery_09],
#gallery_10:checked~.small-image-holder label[for=gallery_10],
#gallery_11:checked~.small-image-holder label[for=gallery_11],
#gallery_12:checked~.small-image-holder label[for=gallery_12] {
	border-color: #32E2A9;
}

.description-holder {
	padding: 30px 15px;
}

.description {
	padding: 15px 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 0.32px;
}

.description ul {
	padding-left: 0;
	list-style: none;
}

.description ul li {
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
}

.description ul li:before {
	content: '';
	width: 6px;
	height: 6px;
	background-color: #01358D;
	position: absolute;
	top: 12px;
	left: 2px;
	transform: rotateZ(45deg);
}

.info-section {
	padding: 30px 15px;
}

.info-controller-holder {
	display: none;
	margin-top: -70px;
	background-color: #ffffff;
	overflow: hidden;
	border-radius: 8px;
	-webkit-box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
	box-shadow: 0 0 2rem rgba(0, 0, 0, .1)
}

.info-controller-holder label {
	display: block;
	color: #01358D;
	cursor: pointer;
	margin: 0;
	padding: 30px 15px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	line-height: 17px;
	border-top: 3px solid transparent;
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}

#info_01:checked~.info-controller-holder label[for=info_01],
#info_02:checked~.info-controller-holder label[for=info_02],
#info_03:checked~.info-controller-holder label[for=info_03],
#info_04:checked~.info-controller-holder label[for=info_04],
#info_05:checked~.info-controller-holder label[for=info_05] {
	color: #f9556d;
	border-top-color: #f9556d;
}

.info-container {
	display: block;
	background-color: #ffffff;
	margin-bottom: 30px;
	padding: 20px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 12px 20px #01358D57;
	box-shadow: 0px 12px 20px #01358D57;
}

.info-container:last-child {
	margin-bottom: 0px;
}

.info-container-title {
	color: #01358D;
	padding: 15px 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0.25px;
	font-family: 'Poppins', sans-serif;
}

.info-content {
	padding: 15px 0;
	font-size: 15px;
	font-weight: 400;
	line-height: 2;
	letter-spacing: 0.32px;
}

#info_01:checked~#info_01_container,
#info_02:checked~#info_02_container,
#info_03:checked~#info_03_container,
#info_04:checked~#info_04_container,
#info_05:checked~#info_05_container {
	display: block;
}

.footer {
	padding: 45px 15px;
	text-align: center;
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
}

@media screen and (min-width: 576px) {
	.template-body {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.container {
		padding: 0 15px !important;
	}
	.template-inner {
		background-color: #ffffff;
		-webkit-box-shadow: 0px 3px 44px #97A1B238;
		-moz-box-shadow: 0px 3px 44px #97A1B238;
		box-shadow: 0px 3px 44px #97A1B238;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		border-radius: 8px;
	}
	.gallery {
		padding: 30px;
	}
	.title {
		font-size: 30px;
	}
	.description-holder,
	.info-section {
		padding: 45px 30px;
	}
	.small-image-container label {
		width: 75px;
		height: 75px;
	}
}

@media screen and (min-width: 768px) {
	.logo-holder {
		width: auto;
	}
	.navigation {
		display: block;
	}
	.description {
		margin-bottom: 60px;
	}
	.info-section {
		padding: 30px 30px 0;
	}
	.info-controller-holder {
		display: block;
	}
	.info-container {
		display: none;
		margin-bottom: 0;
		background-color: transparent;
		box-shadow: none;
	}
	.info-container-title {
		display: none;
	}
}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 960px;
	}
}